:root{
    /* color */
    --black: #222222;
    --orange-red: #ff592e;
    --white: #ffffff;
    --wram-white: #faf8f6;
    --windows-blue: #3484c6;
    --medium-pink: #f06ea5;
    --orange-yello: #fcb614;
    --red: #f00;
    --warm-grey: #999;
    --black-mob: #1d1d1d;
    --swiper-pagination-color: #ff592e;
    --reddish-grey: #8f7c70;
    --tomato: #eb5c2a;
    --warm-grey-2: #808080;
    --red-orange: #f43b00;
    --light-khaki: #fbf4e4;
    --sapphire: #2a31a0;
    --cobalt: #1b4793;
    /* swiper */
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    /* animation */
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

/* common */

*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    color: var(--black);
}

div{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.gothic{
    font-family: 'Nanum Gothic', sans-serif;
}

.fredoka{
    font-family: 'Fredoka One', cursive;
}

.calistoga{
    font-family: 'Calistoga', cursive;
}

#wrap,#header,#header nav::before{
    background-color: var(--light-khaki);
}

#wrap{
    padding-top: 120px;
    width: 100%;
}

.max-wrap{
    width: 1400px;
    margin: 0 auto;
}

.swiper{
    z-index: 1;
}

.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0 none;
    outline: none;
    cursor: pointer;
    background: transparent;
    box-sizing: border-box;
}

/* header */

#header{
    padding: 0 16px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
}

#header .max-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1{
    box-sizing: border-box;
}

#header a{
    display: block;
    color: var(--black);
    font-size: 18px;
}

/* toglle button */
#btnHamburger{
    width: 28px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
}

.hamburger_box {
    width: 28px;
    height: 60px;
    display: block;
    position: relative;
    margin: 0px auto 0px;
}

.hamburger_inner{
    position: absolute;
    width: 28px;
    height: 2px;
    background: var(--black);
    display: block;
    top: 50%;
    margin-top: 0px;
    transition: 0.5s;
}

.hamburger_inner::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: var(--black);
    display: block;
    top: -9px;
    transition: 0.5s;
}

.hamburger_inner::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: var(--black);
    display: block;
    top: 9px;
    transition: 0.5s;
}

.hamburger_inner {
    transform: rotate(45deg);
}

.hamburger_inner::before {
    transform: rotate(-90deg);
    top: 0px;
}

.hamburger_inner::after {
    transform: rotate(-90deg);
    top: 0px;
}

/* navigation */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav::before{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    content: "";
    height: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    background-color: var(--light-khaki);
}

#nav:hover::before{
    height: 206px;
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

#nav.not-hover::before{
    height: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

#nav > ul{
    display: flex;
    justify-content: flex-start;
    height: 120px;
}

#nav > ul > li{
    position: relative;
    box-sizing: border-box;
}

#nav > ul > li > a{
    position: relative;
    height: 120px;
    line-height: 120px;
    padding: 0 44px;
    font-weight: bold;
}

#nav > ul > li > a::before{
    content: "";
    display: block;
    position: absolute;
    right: 44px;
    bottom: 0;
    left: 44px;
    height: 2px;
    background: var(--orange-red);
    transform: scaleX(0);
    transform-origin: top right;

}

#nav > ul > li > a:hover:before{
    transform: scaleX(1);
}

#nav > ul > li > a:hover{
    color: var(--orange-red);
}

#header #nav > ul > li > a::before, #header #nav:before{
    transition: all 300ms ease-in-out;
}

#nav > ul > li > a + ul{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 120%;
    padding: 40px 0 40px 44px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

#nav > ul > li > a + ul > li  a{
    padding: 8px 0;
    transition: all 300ms;
}

#nav > ul > li > a + ul > li  a:hover{
    color: var(--orange-red);
}

/* container */
#container{
    width: 100%;
    min-height: calc(100% - 120px);
    overflow: hidden;
}

/* content */
#conten{
    word-break: keep-all;
}

#content.main{
    font-size: 20px;
}

#content.main .big-title{
    font-size: 120px;
    font-weight: 900;
    line-height: 1.07;
}

#content.main .big-title, .sub-title{
    margin-top: 32px;
}

#content.main .sub-title{
    font-size: 36px;
}

/* section */
#content.main .section:not(.dal-story){
    color: var(--red-orange);
}

#content.main .section:not(.first){
    text-align: center;
}

/* section first */

.section.first.flex{
    padding-bottom: 64px;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 120px;
}

.section.first .max-wrap{
    position: relative;
}

.section.first .big-title{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 415px;
    z-index: 2;
}

.section.first .big-title span{
    font-family: 'Fredoka One', cursive;
    display: block;
}

.section.first .big-title span.outline{
    -webkit-text-stroke: 0.5px var(--red-orange);
    -webkit-text-fill-color: transparent;
}

.section.first #mainTop{
    /* overflow: hidden; */
    position: relative;
    top: 206px;
}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transition-duration: 0ms;
}

.swiper-wrapper, .swiper-slide{
    transform: translate3d(0px,0,0);
}

.swiper-slide{
    width: 1175px;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    height: 100%;
    position: relative;
}

.swiper-slide.swiper-slide-active{
    opacity: 1;
}

#mainTop .img-wrap{
    width: 80.745vw;
    max-width: 1040px;
}

#mainTop .img-wrap img{
    display: block;
    width: 100%;
}

#mainTop .img-wrap img.only-mo{
    display: none;
}

#mainTop .text-wrap{
    position: absolute;
    left: 80px;
    top: -42px;
    font-size: 20px;
}

#mainTop .swiper-slide:not(.swiper-slide-active) .text-wrap{
    opacity: 0;
    z-index: -1;
}

#mainTop .text-wrap .btn{
    margin-top: 32px;
    font-weight: bold;
    color: var(--red-orange);
    border-bottom: 2px solid var(--red-orange);
}

#mainTop .swiper-pagination{
    position: absolute;
    top: -74px;
    left: 72px;
    text-align: left;
    height: 10px;
    bottom: 54px;
    vertical-align: top;
    z-index: 10;
}

.swiper-pagination-bullet{
    display: inline-block;
    margin: 0 8px;
    opacity: 0.2;
    background-color: var(--red-orange);
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.swiper-pagination-bullet-active{
    opacity: 1;
    background-color: var(--swiper-pagination-color);
}

/* floating */
.floating.active{
    overflow: visible;
    z-index: 5;
}

.floating{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
}

.floating .max-wrap{
    position: relative;
}

.floating-content{
    position: absolute;
    right: 20px;
    bottom: 0;
    max-width: 174px;
    height: 156px;
}

.floating-content .img-wrap{
    position: absolute;
    right: 36px;
    bottom: 156px;
    height: auto;
    overflow: hidden;
    width: 66%;
}

.floating-content .img-wrap img{
    display: block;
    width: 100%;
}

.floating-content .img-wrap img.only-mo{
    display: none;
}

.floating-content .text-wrap{
    width: 174px;
    height: 156px;
    padding: 66px 24px 24px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: var(--red-orange);
    color: #ffffff;
}

.floating-content .montserrat{
    font-size: 12px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 4px;
}

.floating-content .main-copy{
    box-sizing: border-box;
}

.floating .btn.floating-close{
    position: absolute;
    bottom: 120px;
    width: 24px;
    height: 24px;
    right: 32px;
    z-index: 6;
}

/* section imagine */
.section.imagine{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1080px;
    height: 100vh;
}

.section.imagine .text-wrap{
    position: relative;
    z-index: 1;
}

.section.imagine .sub-title > strong{
    font-weight: 700;
}

.section.imagine .text-wrap .text{
    margin-top: 56px;
}