:root{
    /* color */
    --black: #222222;
    --orange-red: #ff592e;
    --white: #ffffff;
    --wram-white: #faf8f6;
    --windows-blue: #3484c6;
    --medium-pink: #f06ea5;
    --orange-yello: #fcb614;
    --red: #f00;
    --warm-grey: #999;
    --black-mob: #1d1d1d;
    --swiper-pagination-color: #ff592e;
    --reddish-grey: #8f7c70;
    --tomato: #eb5c2a;
    --warm-grey-2: #808080;
    --red-orange: #f43b00;
    --light-khaki: #fbf4e4;
    --sapphire: #2a31a0;
    --cobalt: #1b4793;
    /* swiper */
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    /* animation */
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

html, body{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
@media all and (max-widht: 750px){
    body{
        min-width: 320px;
    }
}
@media all and (min-widht: 751px){
    body{
        min-width: 750px;
    }
}

/* wrap */
@media all and (max-widht: 750px){
    #wrap{
        padding-top: 56px;
    }
    #container{
        min-height: calc(100% - 56px);
    }
}

/* max-wrap */
.max-wrap{
    width: 100%;
    margin: 0 auto;
}
@media all and (min-widht:961px){
    .max-wrap{
        max-width: 1440px;
    }
}

/* header */
@media all and (max-width: 960px){
    body:not(.opened-mo-nav) #header{
        overflow: hidden;
    }
}
@media all and (max-width: 1440px){
    #header{
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* PC GNB */
@media all and (min-width: 961px){
    .btn.menu-toggle{
        display: none;
    }
    #header nav a{
        position: relative;
    }
    #header nav{
        align-self: flex-start;
    }
    #header nav > ul{
        height: 120px;
        display: flex;
        justify-content: flex-start;
    }
    #header nav > ul > li{
        position: relative;
    }
    #header nav > ul > li > a{
        position: relative;
        height: 120px;
        line-height: 120px;
        padding: 0 44px;
        font-weight: bold;
    }
    #header nav > ul > li:last-child > a{
        padding-right: 0;
    }
    #header nav > ul > li > a::before,
    #header nav > ul > li > a + ul, 
    #header nav::before{
        transition: all 300ms ease-in-out;
    }
    #header nav > ul > li > a::before{
        content: "";
        display: block;
        position: absolute;
        right: 44px;
        bottom: 0;
        left: 44px;
        height: 2px;
        background: var(--orange-red);
        transform: scaleX(0);
        transform-origin: top right;
    }
}

/* MOB GNB */
body.opened-mo-nav{
    overflow: hidden;
}
@media all and (max-width: 960px){
    #header .max-wrap{
        flex-wrap: wrap;
    }
    #header nav,
    #header .btn.menu-toggle.is-active #hamburger,
    #hamburger .line,
    #header nav > ul > li > a::after{
        transition: transform 300ms ease-in-out;
    }
    .bg-warm #header nav{
        background-color: var(--wram-white);
    }
    #header .logo{
        width: 102px;
    }

    #header .btn.btn.menu-toggle{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        width: 56px;
        height: 56px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header #hamburger,
    #header #hamburger g{
        overflow: hidden;
        display: block;
        width: 20px;
        height: 20px;
    }
    #header .btn.menu-toggle.is-active #hambuerger,
    #hamburger .line,
    #header nav > ul > li > a::after,
    #header nav > ul > li > ul{
        transition: all 0.1s ease-in-out;
    }
    #header .line:nth-child(1){
        transform: translateY(12.5%);
    }
    #header .line:nth-child(2){
        transform: translateY(45.835%);
    }
    #header .line:nth-child(3){
        transform: translateY(79.165%);
    }
    .menu-toggle.is-active #hamburger .line:nth-child(1),
    .menu-toggle.is-active #hamburger .line:nth-child(3),
    body.opened-mo-nav #header nav{
        opacity: 1;
        transition-delay: 0.1s;
    }
}