:root{
    /* color */
    --black: #222222;
    --orange-red: #ff592e;
    --white: #ffffff;
    --wram-white: #faf8f6;
    --windows-blue: #3484c6;
    --medium-pink: #f06ea5;
    --orange-yello: #fcb614;
    --red: #f00;
    --warm-grey: #999;
    --black-mob: #1d1d1d;
    --swiper-pagination-color: #ff592e;
    --reddish-grey: #8f7c70;
    --tomato: #eb5c2a;
    --warm-grey-2: #808080;
    --red-orange: #f43b00;
    --light-khaki: #fbf4e4;
    --sapphire: #2a31a0;
    --cobalt: #1b4793;
    /* swiper */
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    /* animation */
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

html, body{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
@media all and (max-widht: 750px){
    body{
        min-width: 320px;
    }
}
@media all and (min-widht: 751px){
    body{
        min-width: 750px;
    }
}

/* wrap */
@media all and (max-widht: 750px){
    #wrap{
        padding-top: 56px;
    }
    #container{
        min-height: calc(100% - 56px);
    }
}

/* max-wrap */
.max-wrap{
    width: 100%;
    margin: 0 auto;
}
@media all and (min-widht:961px){
    .max-wrap{
        max-width: 1440px;
    }
}

/* header */
@media all and (max-width: 960px){
    body:not(.opened-mo-nav) #header{
        overflow: hidden;
    }
}
@media all and (max-width: 1440px){
    #header{
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* PC GNB */
@media all and (min-width: 961px){
    .btn.menu-toggle{
        display: none;
    }
    #header nav a{
        position: relative;
    }
    #header nav{
        align-self: flex-start;
    }
    #header nav > ul{
        height: 120px;
        display: flex;
        justify-content: flex-start;
    }
    #header nav > ul > li{
        position: relative;
    }
    #header nav > ul > li > a{
        position: relative;
        height: 120px;
        line-height: 120px;
        padding: 0 44px;
        font-weight: bold;
    }
    #header nav > ul > li:last-child > a{
        padding-right: 0;
    }
    #header nav > ul > li > a::before,
    #header nav > ul > li > a + ul, 
    #header nav::before{
        transition: all 300ms ease-in-out;
    }
    #header nav > ul > li > a::before{
        content: "";
        display: block;
        position: absolute;
        right: 44px;
        bottom: 0;
        left: 44px;
        height: 2px;
        background: var(--orange-red);
        transform: scaleX(0);
        transform-origin: top right;
    }
}

/* MOB GNB */
body.opened-mo-nav{
    overflow: hidden;
}
@media all and (max-width: 960px){
    #header .max-wrap{
        flex-wrap: wrap;
    }
    #header nav,
    #header .btn.menu-toggle.is-active #hamburger,
    #hamburger .line,
    #header nav > ul > li > a::after{
        transition: transform 300ms ease-in-out;
    }
    #header{
        height: 56px;
    }
    #header nav{
        position: fixed;
        display: block;
        left: 0;
        top: 56px;
        width: 100%;
        height: cal(100% - 56px);
        min-height: calc(100vh - 56px);
        padding-top: 50px;
        background: white;
        z-index: -1;
        opacity: 0;
        overflow: hidden auto;
        transform: translateX(100%);
    }
    .bg-warm #header nav{
        background-color: var(--wram-white);
    }
    #header .logo{
        width: 102px;
    }
    #header .btn.btn.menu-toggle{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        width: 56px;
        height: 56px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header #hamburger,
    #header #hamburger g{
        overflow: hidden;
        display: block;
        width: 20px;
        height: 20px;
    }
    #header .btn.menu-toggle.is-active #hambuerger,
    #hamburger .line,
    #header nav > ul > li > a::after,
    #header nav > ul > li > ul{
        transition: all 0.1s ease-in-out;
    }
    #header .line:nth-child(1){
        transform: translateY(12.5%);
    }
    #header .line:nth-child(2){
        transform: translateY(45.835%);
    }
    #header .line:nth-child(3){
        transform: translateY(79.165%);
    }
    .menu-toggle.is-active #hamburger{
        transition-delay: 0.1s;
        transform: rotate(45deg);
    }
    .menu-toggle.is-active #hamburger .line:nth-child(2){
        transform: scale(0,1);
    }
    .menu-toggle.is-active #hamburger .line:nth-child(1),
    .menu-toggle.is-active #hamburger .line:nth-child(3),
    body.opened-mo-nav #header nav{
        opacity: 1;
        transition-delay: 0.1s;
    }
    .menu-toggle.is-active #hamburger .line:nth-child(1){
        transform: translateY(45.835%);
    }
    .menu-toggle.is-active #hamburger .line:nth-child(3){
        transform: translate(54.165%, 0) rotate(90deg);
    }
    .opened-mo-nav #wrap{
        overflow-y: hidden;
    }
    .opened-mo-nav #wrap #header{
        background-color: white;
    }

    body.opened-mo-nav #header nav{
        z-index: 1;
        transform: translateX(0);
    }

    #header nav > ul > li > a{
        position: relative;
        padding: 10px 16px;
        font-size: 30px;
        font-weight: bold;
    }
    #header nav > ul > li > a:not([target="shop"])::after{
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -10px;
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        background: url(../img_dalkom/ic_arrow_down.svg) no-repeat 50% 50%;
    }
    #header nav ul li:not(.active):not(.current) ul{
        overflow: hidden;
        height: 0;
    }
    #header nav > ul > li.active > a::after{
        transform: rotate(180deg);
    }
    #header nav ul ul a{
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 500;
    }
    #header nav ul ul{
        padding: 10px 10px;
    }
    #header nav > ul > li > a > span > .ico{
        top: 8px;
        right: -9px;
    }
}

/* main */
.breadcrumbs + .max-wrap,
.page-title + .list-wrap,
.page-title + .store-info-wrap,
.field  + .button-area{
    margin-top: 64px;
}
.page-title + .tabs-wrap{
    margin-top: calc(96px - 14px);
}
.pagination,
.page-title + .form,
.page-title-wrap + .form,
.page-title + .filter-wrap,
.filter-wrap + .list-wrap,
.list-wrap .data-list + .pagination,
.tabs-wrap + .max-wrap,
.max-wrap > .flex + .flex{
    margin-top: 96px;
}
.data-list:not([class*="pin-"]) + .btn.circle.more{
    margin-top: 128px;
}

@media all and (max-width:750px){
    .breadcrumbs + .max-wrap,
	.page-title + .list-wrap,
	.page-title + .store-info-wrap,
	.field  + .button-area,
	.data-list:not([class*="pin-"]) + .btn.circle.more,
	.max-wrap > .flex + .flex{
        margin-top: 60px;
    }
	.page-title + .tabs-wrap{
        margin-top: calc(60px - 4px);
    }
	.pagination,
	.page-title + .form,
	.page-title-wrap + .form,
	.page-title + .filter-wrap,
	.filter-wrap + .list-wrap,
	.list-wrap .data-list + .pagination,
	.tabs-wrap + .max-wrap{
        margin-top: 60px;
    }
    #content.main{
        font-size: 4.800vw;
    }
    #content.main .section.imagine,
    #content.main .section.playground,
    #content.main .section.dal-story{
        min-height: 812px;
    }
    #content.main .big-title{
        font-size: 12.800vw;
        line-height: 1.21;
    }
    #content.main .sub-title{
        font-size: 6.400vw;
    }
    #content.main .ko-title{
        font-size: 9.600vw;
    }
    #content.main .sub-title + .big-title,
    #content.main .ko-title + p,
    #content.main .sub-title + .ko-title{
        margin-top: 6.4vw;
    }
}
@media all and (min-width: 751px){
    #content.main .section.imagine,
    #content.main .section.playground,
    #content.main .section.dal-story{
        min-height: 1080px;
    }
}
@media all and (min-width: 751px) and (max-width:1287px){
    #content.main .big-title{
        font-size: 9.317vw;
    }
    #content.main .sub-title{
        font-size: 2.795vw;
    }
    #content.main .ko-title{
        font-size: 4.969vw;
    }
}
/* section.first */
@media all and (max-width:750px){
    .section.first{
        overflow: hidden;
        height: 100vh;
        min-height: 812px;
    }
    .section.first .max-wrap{
        padding: 0 16px;
    }
    .section.first .big-title{
        right: 20px;
        bottom: auto;
        top: -36.867vw;
        max-width: 84vw;
        line-height: 1.3;
    }
    .section.first .big-title span:last-child{
        line-height: 1;
    }
    .section.first #mainTop .swiper-slide{
        padding-bottom: 118px;
    }
    .section.first #mainTop .swiper-pagination{
        bottom: 46.133vw;
        right: 10px;
        text-align: right;
    }
    .section.first #mainTop .img-wrap{
        width: 76.800vw;
    }
    .section.first #mainTop .text-wrap{
        right: 0;
        bottom: 0;
        height: 40.800vw;
        font-size: 18px;
        text-align: right;
    }
}
@media all and (max-width:750px) and (min-height:811px){
    .section.first{
        min-height: 750px;
    }
}
@media all and (max-width:750px) and (min-height:812px){
    .section.first{
        min-height: 812px;
    }
}
@media all and (min-width:751px){
    .section.first{
        min-height: calc(1080px - 120px);
    }
    .section.first .big-title span:last-child{
        margin-top: -19px;
    }
    .section.first #mainTop .swiper-pagination{
        top: -74px;
        left: 72px;
        text-align: left;
    }
    .section.first #mainTop .img-wrap{
        width: 80.745vw;
        max-width: 1040px;
    }
    .section.first #mainTop .text-wrap{
        left: 80px;
        top: -42px;
    }
}

/* section.imagine  */
@media all and (max-width: 750px){
    .section.imagine .section-title.en{
        font-size: 3.375rem;
    }
    .section.imagine .sub-title + .section-title{
        margin-top: 28px;
    }
    .section.imagine .fixed-bg > span{
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
    }
    .section.imagine .fixed-bg > span.circle-img{
        bottom: 44px;
        left: -29px;
        width: 164px;
        height: 165px;
    }
    .section.imagine .fixed-bg > span.circle-small{
        top: 58px;
        right: 21px;
        width: 64px;
        height: 66px;
    }
    .section.imagine .parallax.circle-img{
        top: auto;
        bottom: 0;
        right: -9.067vw;
        width: 38.933vw;
        height: 39.467vw;
    }
    .section.imagine .parallax.circle-big{
        bottom: auto;
        top: 0;
        left: -9.067vw;
        width: 27.200vw;
        height: 27.733vw;
    }
    .section.imagine .parallax.circle-small{
        bottom: auto;
        top: 20.533vw;
        left: 22.400vw;
        width: 6.667vw;
        height: 5.333vw;
    }
}
@media all and (min-width:751px) and (max-width:1287px){
    .section.imagine .parallax.circle-img{
        right: -11.025vw;
        width: 32.531vw;
        height: 39.467vw;
    }
    .section.imagine .parallax.circle-big{
        bottom: 6.988vw;
        left: -5.978vw;
        width: 22.748vw;
        height: 25.233vw;
    }
    .section.imagine .parallax.circle-small{
        bottom: 8.851vw;
        left: 16.770vw;
        width: 5.978vw;
        height: 4.736vw;
    }
}

/* section.dal-story */
@media all and (max-width:750px){
    #content.main .section.dal-story{
        background-position: 49% bottom;
        background-size: auto 84vw;
    }
    .section.dal-story .sub-title strong img{
        margin-left: 1.5vw;
        height: 7.200vw;
    }
    .section.dal-story .text-wrap{
        padding-bottom: 72.267vw;
    }
}

/* section.playground */
@media all and (max-width:750px){
    #content.main .section.playground{
        height: auto;
        padding: 21.333vw 0 215.200vw;
    }
    .section.playground .text-wrap{
        padding-bottom: 0;
    }
    .section.playground .img-wrap.box{
        top: 92.533vw;
        left: -38.133vw;
        width: 98.133vw;
    }
    .section.playground .img-wrap.box .mask{
        width: 98.133vw;
        height: 71.200vw;
    }
    .section.playground .img-wrap.box .mask img{
        width: auto;
        height: 100%;
    }
    .section.playground .img-wrap.box svg{
        width: 73.333vw;
        height: 70.667vw;
    }
    .section.playground .img-wrap.home{
        left: 23.733vw;
        width: 76.267vw;
        height: 92.800vw;
    }
    .section.playground .img-wrap.home .mask{
        width: 104vw;
        height: 92.800vw;
    }
    .section.playground .img-wrap.home img{
        height: 92.800vw;
    }
    .section.playground .img-wrap.home svg{
        width: 90.133vw;
        height: 84vw;
        bottom: 5.600vw;
    }
    .section.playground .img-wrap.cir{
        display: none;
    }
}
@media all and (min-width:751px){
    .section.playground .img-wrap.home .mask{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media all and (min-width: 751px) and (max-width:1287px){
    .section.playground .img-wrap.box{
        left: -15.683vw;
        top: 18.7%;
        width: 44.565vw;
    }
    .section.playground .img-wrap.box .mask{
        width: 44.565vw;
        height: 32.453vw;
    }
    .section.playground .img-wrap.box img{
        width: auto;
        height: 100%;
    }
    .section.playground .img-wrap.box svg{
        right: 2.717vw;
        width: 33.152vw;
        height: 31.988vw;
    }
    .section.playground .img-wrap.home,
    .section.playground .img-wrap.home .mask{
        width: 47.283vw;
        height: 42.236vw;
    }
    .section.playground .img-wrap.home svg{
        width: 40.839vw;
        height: 42.236vw;
    }
    .section.playground .img-wrap.cir{
        right: -9.239vw;
        top: 22.5%;
        width: 37.112vw;
    }
    .section.playground .img-wrap.cir .mask{
        width: 37.112vw;
        height:  37.112vw;
    }
    .section.playground .img-wrap.cir img{
        width: 62.112vw;
    }
    .section.playground .img-wrap.cir svg{
        top: 2.717vw;
        left: -2.717vw;
        width: 38.121vw;
        height: 38.121vw;
    }
}
@media all and (max-width:1024px) and (orientation: portrait){
    .section.playground .img-wrap.box{
        top: 38.7%;
    }
    .section.playground .img-wrap.cir{
        top: 42.5%;
    }
}

/* footer */
