html, body{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
@media all and (max-widht: 750px){
    body{
        min-width: 320px;
    }
}
@media all and (min-widht: 751px){
    body{
        min-width: 750px;
    }
}

/* wrap */
@media all and (max-widht: 750px){
    #wrap{
        padding-top: 56px;
    }
    #container{
        min-height: calc(100% - 56px);
    }
}

/* max-wrap */
.max-wrap{
    width: 100%;
    margin: 0 auto;
}
@media all and (min-widht:961px){
    .max-wrap{
        max-width: 1440px;
    }
}

/* header */
@media all and (max-width: 960px){
    body:not(.opened-mo-nav) #header{
        overflow: hidden;
    }
}
@media all and (max-width: 1440px){
   #header{
       padding-left: 16px;
       padding-right: 16px;
   }
}