:root{
    /* color */
    --black: #222222;
    --orange-red: #ff592e;
    --white: #ffffff;
    --wram-white: #faf8f6;
    --windows-blue: #3484c6;
    --medium-pink: #f06ea5;
    --orange-yello: #fcb614;
    --red: #f00;
    --warm-grey: #999;
    --black-mob: #1d1d1d;
    --swiper-pagination-color: #ff592e;
    --reddish-grey: #8f7c70;
    --tomato: #eb5c2a;
    --warm-grey-2: #808080;
    --red-orange: #f43b00;
    --light-khaki: #fbf4e4;
    --sapphire: #2a31a0;
    --cobalt: #1b4793;
    /* swiper */
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    /* animation */
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

/* common */

*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--black);
}

body{
    color: var(--black);
    line-height: 1.5;
}

div, section, h2{
    box-sizing: border-box;
}

select{
    outline: none;
    border: 0;
    border-radius: 0;
    appearance: none;
}

.select{
    position: relative;
    vertical-align: middle;
    color: inherit;
    background: #fff url(../img_dalkom/select-plus.svg) no-repeat 100% 50%;
    background-size: 24px 24px;
}

.flex, [class*="flex-"]{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.gothic{
    font-family: 'Nanum Gothic', sans-serif;
}

.fredoka{
    font-family: 'Fredoka One', cursive;
}

.calistoga{
    font-family: 'Calistoga', cursive;
}

#wrap,#header,#header nav::before{
    background-color: var(--light-khaki);
}

#wrap{
    padding-top: 120px;
    width: 100%;
}

.max-wrap{
    width: 1400px;
    margin: 0 auto;
}

.swiper{
    z-index: 1;
}

.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0 none;
    outline: none;
    cursor: pointer;
    background: transparent;
    box-sizing: border-box;
}

a.btn{
    text-decoration: none;
}

/* only-con */
.is-desktop .only-mo,
.is-mobile .only-pc{
    display: none;
}

/* header */

.scroll-down #header.fixed{
    top: -120px;
}
.scroll-up #header.fixed{
    top: 0;
}

#header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    box-sizing: border-box;
}

#header .max-wrap{
    padding: 0;
    height: inherit;
}

#header .max-wrap, #header nav{
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo img{
    display: block;
    width: 117px;
}

#header h1{
    box-sizing: border-box;
}

#header a{
    display: block;
    color: var(--black);
    font-size: 18px;
}

/* navigation */
#header nav a:hover,
#header nav a:focus,
#header nav > ul > li:hover > a,
#header nav > ul > li:focus > a,
#header nav li.current > a,
#header nav > ul > li > a:hover,
#header nav > ul > li > a:focus{
    color: var(--orange-red);
}

#header nav > ul > li > a > span{
    position: relative;
}

#header nav > ul > li > a > span > .ico{
    position: absolute;
    top: 4px;
    right: -8px;
}

/* container */
#container{
    width: 100%;
    min-height: calc(100% - 120px);
    /* overflow: hidden; */
}

/* content */
#content{
    word-break: keep-all;
}

#content.main{
    font-size: 20px;
}

#content.main .big-title{
    font-size: 120px;
    font-weight: 900;
    line-height: 1.07;
}

#content.main .sub-title + .big-title,
#content.main .ko-title + p{
    margin-top: 32px;
}

#content.main .ko-title{
    font-size: 64px;
    font-family: 'Nanum Gothic', sans-serif;
}

#content.main .section.imagine,
#content.main .section.playgound,
#content.main .section.dal-story{
    height: 100vh;
}

/* section */
#content.main .section:not(.dal-story){
    color: var(--red-orange);
}

#content.main .section:not(.first){
    text-align: center;
}

/* section first */

#content.main .section.first.flex{
    padding-bottom: 64px;
    justify-content: flex-start;
    align-items: flex-end;
    /* padding-top: 120px; */
}

.section.first .max-wrap{
    position: relative;
}

.section.first .big-title{
    position: absolute;
    right: 0;
    bottom: 415px;
    z-index: 2;
}

.section.first .big-title span{
    font-family: 'Fredoka One', cursive;
    display: block;
}

.section.first .big-title span.outline{
    -webkit-text-stroke: 0.5px var(--red-orange);
    -webkit-text-fill-color: transparent;
}

.section.first #mainTop{
    overflow: visible;
    position: relative;
    margin: 0;
}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transition-duration: 0ms;
}

.swiper-wrapper, .swiper-slide{
    transform: translate3d(0px,0,0);
}

.swiper-slide{
    width: 1175px;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    height: 100%;
    position: relative;
}

.swiper-slide.swiper-slide-active{
    opacity: 1;
}

#mainTop .img-wrap{
    width: 80.745vw;
    max-width: 1040px;
}

.img-wrap img{
    display: block;
    width: 100%;
}

.section.first #mainTop .text-wrap{
    position: absolute;
    /* left: 80px;
    top: -42px; */
    font-size: 20px;
}

.section.first #mainTop .swiper-slide:not(.swiper-slide-active) .text-wrap{
    opacity: 0;
    z-index: -1;
}

.section.first #mainTop .text-wrap .btn{
    margin-top: 32px;
    font-weight: bold;
    color: var(--red-orange);
    border-bottom: 2px solid var(--red-orange);
}

/* floating */
.floating.active{
    overflow: visible;
    z-index: 5;
}

.floating{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
}

.floating .max-wrap{
    position: relative;
}

.floating-content{
    position: absolute;
    right: 20px;
    bottom: 0;
    max-width: 174px;
    height: 156px;
}

.floating-content .img-wrap{
    position: absolute;
    right: 36px;
    bottom: 156px;
    height: auto;
    overflow: hidden;
    width: 66%;
}

/* .floating-content .img-wrap img{
    display: block;
    width: 100%;
} */

/* .img-wrap img.only-mo{
    display: none;
} */

.floating-content .text-wrap{
    /* width: 174px;
    height: 156px;
    padding: 66px 24px 24px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px 20px 0 0; */
    overflow: hidden;
    background-color: var(--red-orange);
    color: #ffffff;
}

.floating-content .montserrat{
    font-size: 12px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 4px;
}

.floating-content .main-copy{
    box-sizing: border-box;
}

.floating .btn.floating-close{
    position: absolute;
    bottom: 120px;
    width: 24px;
    height: 24px;
    right: 32px;
    z-index: 6;
}

/* section imagine */
#content.main .section.imagine{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1080px;
    height: 100vh;
}

.section.imagine .text-wrap{
    position: relative;
    z-index: 1;
}

.section.imagine .sub-title > strong{
    font-weight: 700;
}

.section.imagine .big-title{
    font-size: 120px;
    font-weight: 900;
    line-height: 1.07;
}

.section.imagine .text-wrap .text{
    margin-top: 56px;
}

.section.imagine .parallax{
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.section.imagine .parallax.circle-img{
    top: 82px;
    right: -142px;
    width: 419px;
    height: 424px;
    background-image: url(../img_dalkom/circle_img.png);
}

.section.imagine .parallax.circle-big{
    bottom: 90px;
    left: -77px;
    width: 293px;
    height: 325px;
    background-image: url(../img_dalkom/circle_big.svg);
}

.section.imagine .parallax.circle-small{
    bottom: 114px;
    left: 216px;
    width: 77px;
    height: 61px;
    background-image: url(../img_dalkom/circle_small.svg);
}

/* section dal-story */

#content.main .section.dal-story{
    color: var(--sapphire);
    background: transparent url(../img_dalkom/bg_dal_story.svg) no-repeat center bottom;
    background-size: auto 513px;
    min-height: 1080px;
    height: 100vh;
}

#content.main .ko-title{
    font-size: 64px;
    font-family: 'Nanum Gothic', sans-serif;
}

/* .section.dal-story .only-mo{
    display: none;
} */

.section.dal-story .text-wrap{
    padding-bottom: 448px;
}

.section.dal-story .sub-title + .ko-title{
    margin-top: 34px;
    font-weight: 800;
}

.section.dal-story .sub-title strong{
    font-weight: 800;
}

.section.dal-story .sub-title strong img{
    height: 36px;
    vertical-align: -5px;
}

/* section playground */
.section.playground{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 1080px;
    overflow: hidden;
}

.section.playground .text-wrap{
    z-index: 1;
    padding-bottom: 534px;
}

.section.playground .text-wrap p .only-mo{
    display: none;
}

.section.playground .img-wrap{
    position: absolute;
}

.section.playground .img-wrap .mask{
    overflow: hidden;
}

.section.playground .img-wrap img{
    display: block;
    width: 100%;
    transition: transform 2s ease-in-out;
}

.section.playground .img-wrap:hover img{
    transform: scale(1.1);
}

.section.playground .img-wrap svg{
    position: absolute;
    overflow: hidden;
    width: 427.811px;
    height: 412.513px;
}

.section.playground .img-wrap svg path{
    fill: none;
    stroke: #f43b00;
    stroke-width: 2px;
    animation: dash 4.5s ease-in-out alternate infinite;
}

.section.playground .img-wrap.box{
    left: -202px;
    top: 434px;
    width: 574px;
}

.section.playground .img-wrap.box path{
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
}

.section.playground .img-wrap.box .mask{
    width: 574px;
    height: 418px;
}

.section.playground .img-wrap.box img{
    transform-origin: bottom right;
}

.section.playground .img-wrap.box svg{
    right: -35px;
    bottom: -35px;
}

.section.playground .img-wrap.home{
    width: 609px;
    height: 544px;
    left: 34%;
    bottom: 0px;
}

.section.playground .img-wrap.home .mask{
    clip-path: polygon(0 25.55%, 77.83% 0%, 100% 7.35%, 100% 100%, 0% 100%);
    width: 609px;
    height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section.playground .img-wrap.home img{
    transform-origin: bottom center;
    height: 544px;
    display: block;
    width: auto;
}

.section.playground .img-wrap.home svg{
    left: -20px;
    bottom: 35px;
    width: 526.506px;
    height: 489.221px;
}

.section.playground .img-wrap.home svg path{
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    animation: dashHome 5s ease-in-out alternate infinite;
}

.section.playground .img-wrap.cir{
    right: -119px;
    top: 243px;
    width: 478px;
}

.section.playground .img-wrap.cir .mask{
    display: block;
    width: 478px;
    height: 478px;
    border-radius: 250px;
}

.section.playground .img-wrap.cir img{
    width: 800px;
    transform-origin: bottom center;
}

.section.playground .img-wrap.cir svg{
    left: -36px;
    top: 35px;
}

.section.playground .img-wrap.cir svg path{
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: dashCir 4s ease-in-out alternate infinite;
}

.section.playground .img-wrap.cir svg g path{
    stroke-miterlimit: 10;
}

@keyframes dash{
    0%{
        stroke-dashoffset: 950;
        fill-opacity: 0;
    }
    20%{
        fill-opacity: 0;
    }
    100%{
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill-opacity: 1;
    }
}

@keyframes dashHome{
    0%{
        stroke-dashoffset: 1600;
        fill-opacity: 0;
    }
    20%{
        fill-opacity: 0;
    }
    100%{
        stroke-dashoffset: 0;
        stop-opacity: 1;
        fill-opacity: 1;
    }
}

@keyframes dashCir{
    0%{
        stroke-dashoffset: 1100;
        fill-opacity: 0;
    }
    20%{
        fill-opacity: 0;
    }
    100%{
        stroke-dashoffset: 0;
        stop-opacity: 1;
        fill-opacity: 1;
    }
}

/* section colorful */
.section.colorful{
    width: 100%;
    padding-top: 196px;
}

.section.colorful .text-wrap{
    z-index: 1;
}

.section.colorful .text-wrap .only-mo{
    display: none;
}

.section.colorful .img-moving{
    position: relative;
    margin-top: 239px;
    height: 375px;
}

.section.colorful .img-moving .bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 214px;
    background: var(--white);
}

.section.colorful .img-moving .menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: transparent url(../img_dalkom/menu.png) repeat-x left top;
    background-size: auto 375px;
    animation: movement 20s linear infinite running;
}

/* section new-dal */
.section.new-dal{
    background: var(--white);
    padding: 250px 0 20px 0;
}

.section.new-dal .only-mo{
    display: none;
}

.section.new-dal .visual-wrap{
    overflow: hidden;
    position: relative;
    margin-top: 61px;
    width: 100%;
}

.section.new-dal .visual-wrap ul{
    position: absolute;
    left: -33px;
    right: -20px;
    top: 271px;
    width: calc(100% + 33px + 20px);
}

.section.new-dal .visual-wrap ul li{
    overflow: visible;
    width: 132px;
    height: 187px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.section.new-dal .visual-wrap ul li + li{
    margin-left: 80px;
}

.section.new-dal .visual-wrap ul li:nth-child(1){
    padding-top: 30px;
}

.section.new-dal .visual-wrap ul li:nth-child(3){
    padding-top: 30px;
}

.section.new-dal .visual-wrap ul li:nth-child(5){
    margin-left: 447px;
}

.section.new-dal .visual-wrap ul li:nth-child(6){
    padding-top: 30px;
}

.section.new-dal .visual-wrap ul li:nth-child(8){
    padding-top: 30px;
}

.section.new-dal .visual-wrap .img-app{
    position: relative;
    margin: 0 auto;
    padding: 71px 111px 0 113px;
    width: 465px;
    height: 729px;
    z-index: 2;
}

.section.new-dal .visual-wrap .img-app::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url(../img_dalkom/bg_phone_01.png) no-repeat center top;
    background-size: 100% auto;
}

/* section supporter */
.section.supporter{
    background: var(--white);
}

.section.supporter .only-mo{
    display: none;
}

.section.supporter .bg-wrap{
    padding: 170px;
    color: var(--white);
    background: var(--cobalt) url(../img_dalkom/bg_supporter.png) no-repeat center bottom;
    background-size: cover;
}

.section.supporter p + .btn{
    margin-top: 68px;
}

.section.supporter .btn{
    width: 279px;
    height: 71px;
    line-height: 71px;
    background-color: var(--tomato);
    color: white;
    border-radius: 8px;
}

/* footer */
#footer{
    background-color: var(--white);
    padding: 120px 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

#footer .only-mo{
    display: none;
}

#footer > .max-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1288px;
}

#footer .logo{
    width: 192px;
}

#footer .max-wrap:first-child > ul{
    width: 73.6%;
}

#footer .max-wrap > ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#footer .max-wrap > ul strong{
    font-size: 18px;
}

#footer .ico{
    display: inline-block;
    color: var(--black);
    /* visibility: hidden; */
}

#footer .ico.acc-arr{
    visibility: hidden;
}

#footer .ico > span{
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    z-index: -1;
}

#footer .max-wrap > ul strong + ul{
    margin-top: 32px;
}

#footer .max-wrap > ul a.em{
    color: var(--orange-red);
}

#footer .max-wrap > ul strong + ul li a{
    position: relative;
    color: rgba(34, 34, 34, 0.7);
}

#footer .max-wrap > ul strong + ul li a::before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background: var(--black);
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 500ms ease-in-out;
}

#footer .max-wrap > ul strong + ul li a:not(.em):hover{
    opacity: 1;
    color: var(--black);
}

#footer .max-wrap > ul strong + ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: top left;
}

#footer .max-wrap > ul strong + ul li a.em::before{
    background: var(--orange-red);
    font-weight: bold;
}

#footer .max-wrap > ul strong + ul li + li{
    margin-top: 16px;
}

#footer > .max-wrap + .max-wrap{
    margin-top: 52px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#footer > .max-wrap + .max-wrap .select-wrap{
    margin-top: 23px;
}

#footer > .max-wrap .select{
    width: 307px;
    height: 87px;
    line-height: 87px;
    border-bottom: 2px solid var(--black);
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    background-image: url(../img_dalkom/select-plus.svg);
}

#footer .copyright-wrap{
    width: 614px;
}

#footer .copyright{
    padding: 52px 0 35px 0;
    color: rgba(34, 34, 34, 0.4);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.01rem;
}

#footer .copyright a{
    color: var(--black);
}

#footer .playstore{
    display: flex;
}

#footer .playstore .btn.bdr{
    border-color: rgba(34, 34, 34, 0.1);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    line-height: calc(50px - 2px);
}

#footer .playstore .btn.qr{
    margin-left: 16px;
}

#footer .playstore .btn.qr img{
    bottom: 25px;
    width: 100px;
    position: relative;
}

.btn.bdr{
    border: 1px solid var(--black);
    color: var(--black);
}

.btn.round{
    border-radius: 50px;
}

.btn.medium{
    height: 50px;
    padding: 0 32px;
    font-size: 16px;
}

.btn.medium > .ico{
    margin-right: 13px;
}

.ico.apple, .google{
    font-size: 26px;
}

#footer .playstore .btn.bdr + .btn.bdr{
    margin-left: 12px;
}